@import "./variables.scss";

/*Background + sombre pendant loading-spinner*/



/*remplissage coeur*/
@keyframes remplissage-coeur {
    0% {
        transform:scale(0);
     }
    
    100% {
        transform:scale(1);
    }
}

/*apparition progressive menus*/
@keyframes fadein {
    0% {
        opacity: 0;
        }   
    100% {
        opacity: 1;
    }
}